/* .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */
li.nav-item {
  cursor: pointer;
}

.phoneInput input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 2.5em;
  width: 34em;
}

.diffListCount {
  border: 1px solid #ccc;
  width: 75%;
  margin: auto;
  height: 75px;
  cursor: pointer;
  border-radius: 5px;
  padding: 9px;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

.active {
  transform: scale(1.05);
  color: #000 !important;
}

.fileInputContainer {
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

.previewBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  height: 250px;
  overflow: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.imageContainer {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

span.removeBtn {
  position: absolute;
  top: -7px;
  right: 2px;
  color: red;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}
